#content {
    width: 1400px;
    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.flip-horizontal {
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: fliph; /*IE*/
}

.star-left {
    position:relative;
    left: 30px;
    top: 40px;
}

.star-right {
    position:relative;
    left: -30px;
    top: 40px;
}

#banner {
    margin-bottom: 40px;
}

#activities {
    margin-left: 270px;
    margin-top: -25px;
}

#activities p {
    margin: -4px;
}

#right-panel {
    float:right;
    width: 250px;
    margin-right: 200px;
}

#stars p {
    padding-left: 10px;
}

.up-arrow {
    position: relative;
    bottom: 60px;
}

.down-arrow {
    position: relative;
    right: 53px;
}

#gym {
    position: relative;
    top: -5px;
}

.one {
    position: relative;
    left: 35px;
}

.inner-content {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

#rewards-section {
    position: absolute;
    width: 230px;
    height: 500px;
    left: -230px;
    top: 220px;
    z-index: 999;

    background-color: black;
    opacity: .85;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    
    color: white;
    font-size: 30px;
}

#rewards-tab {
    position: absolute;
    width: 40px;
    height: 100px;
    left: 230px;
    top: 40px;

    background-color: black;
    opacity: .85;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    
}

.notice {
    color: green;
    text-align: center;
}

.alert {
    color: red;
    text-align: center;
}

.stars-cost-image {
    position: relative;
    top: 10px;
}

.reward-image {
    position: relative;
    top: 15px;
    left: 10px;
}

.reward {
    padding-left: 15px;
}

.flip-vertical {
    -moz-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    transform: scaleY(-1);
    filter: flipv; /*IE*/
}

