#content {
    width: 1400px;
    padding-top: 40px;
    margin-left: auto;
    margin-right: auto;
}

.flip-horizontal {
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: fliph; /*IE*/
}

.star-left {
    position:relative;
    left: 30px;
    top: 40px;
}

.star-right {
    position:relative;
    left: -30px;
    top: 40px;
}

#banner {
    margin-bottom: 50px;
}
.banner {


}

#main {
    width: 400px;
    margin-right: auto;
    margin-left: auto;
}

#stars {
    width: 500px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 40px;
}