#content {
    width: 1400px;
    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.flip-horizontal {
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: fliph; /*IE*/
}

.star-left {
    position:relative;
    left: 30px;
    top: 40px;
}

.star-right {
    position:relative;
    left: -30px;
    top: 40px;
}

#banner {
    margin-bottom: 40px;
}

#activities {
    margin-left: 270px;
    margin-top: -25px;
}

#activities p {
    margin: -4px;
}

#stars {
    float:right;
    width: 200px;
    margin-right: 250px;
}

#stars p {
    padding-left: 10px;
}

.up-arrow {
    position: relative;
    bottom: 60px;
}

.down-arrow {
    position: relative;
    right: 53px;
}

#gym {
    position: relative;
    top: -5px;
}